<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>NodeJS + MySQL</title>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <section>
        <div class="container">
            <div class="container text-center">
                <h1>My Team</h1>
                <p>Swagger Flow</p>
            </div>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">City</th>
                        <th scope="col">EDIT</th>
                        <th scope="col">DELETE</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                    if (userData.length != 0) {
                        let i = 1;
                        userData.forEach((data) => {
                            %>
                            <tr>
                                <th scope="row"><%=data.id %></th>
                                <td><%=data.firstName %></td>
                                <td><%=data.lastName %></td>
                                <td><%=data.email %></td>
                                <td><%=data.city%></td>
                                <td><a href="/users/edit/<%=data.id%>"><button class="btn btn-primary">EDIT</button></a></td>
                                <td><a href="/api/users/delete/<%=data.id%>"><button class="btn btn-danger">DELETE</button></a></td>
                            </tr>
                            <% i++; }) %>
                            <% } else { %>
                                <tr>
                                    <td>No Data Found</td>
                                </tr>
                            <% } %>
                </tbody>
            </table>
            <div>
                <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/972401491&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/tr-nh-v-328410502" title="Trình Vũ" target="_blank" style="color: #cccccc; text-decoration: none;">Trình Vũ</a> · <a href="https://soundcloud.com/tr-nh-v-328410502/tren-lau-cao-remix" title="Trên Lầu Cao - Rhymastic (remix)" target="_blank" style="color: #cccccc; text-decoration: none;">Trên Lầu Cao - Rhymastic (remix)</a></div>
            </div>
        </div>
    </section>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>
</html>